<h2 mat-dialog-title class="fw-bold">New Calculation</h2>

<mat-dialog-content>
  <form [formGroup]="calcForm" class="d-flex flex-column mt-2">
    <mat-form-field appearance="outline" class="mb-2">
      <mat-label>Income</mat-label>
      <input
        matInput
        type="number"
        formControlName="income"
        placeholder="0.00"
      />
    </mat-form-field>

    <mat-form-field appearance="outline" class="mb-2">
      <mat-label>Base Cost</mat-label>
      <input
        matInput
        type="number"
        formControlName="baseCost"
        placeholder="0.00"
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Additional Cost</mat-label>
      <input
        matInput
        type="number"
        formControlName="additionalCost"
        placeholder="0.00"
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <input
        matInput
        type="string"
        formControlName="description"
        placeholder="Description of the financial transaction"
      />
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end" class="mb-2 pe-3">
  <button mat-button mat-dialog-close>Cancel</button>
  <button
    mat-flat-button
    color="primary"
    [disabled]="calcForm.invalid"
    (click)="submit()"
  >
    Calculate & Save
  </button>
</mat-dialog-actions>
