<div
  class="page-wrapper d-flex flex-column justify-content-center align-items-center h-100 mt-5"
>
  <mat-card
    class="text-center p-5 mat-elevation-z2 border-0 bg-transparent shadow-none"
  >
    <h1 class="display-5 fw-bold mb-3 dachser-blue">Welcome to Dachser</h1>
    <h2 class="h4 text-muted mb-4">Financial Logistics Dashboard</h2>
    <p class="text-secondary">
      Please select an option from the side menu to begin calculating shipment
      financials.
    </p>
  </mat-card>
</div>
